[init]
	defaultBranch = main
[push]
  # https://stackoverflow.com/a/72994973: setup to follow remote branch
	autoSetupRemote = true

# Per user specific settings like gpg
[include]
  path = ~/dotfiles/git/gitconfig # path to custom gitconfig
