.DS_Store

# Zsh gitignores
tmux/plugins
!tmux/plugins/.gitkeep

zsh/plugins/loaded/*
!zsh/plugins/loaded/.gitkeep

zsh/completions/*
!zsh/completions/.gitkeep

build_from_source/*
!build_from_source/readme.md